<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dictsort</title>
</head>
<body>

# dict lerdeki alanlara göre sıralama yaptırılabilir.

<ul>
    {% for k in kullanicilar|dictsort:"isim" %}
        <li>{{ k.isim }} {{ k.soyisim }} {{ k.yazar }}</li>
    {% endfor %}
</ul>

<ul>
    {% for k in kullanicilar|dictsort:"soyisim" %}
        <li>{{ k.isim }} {{ k.soyisim }} {{ k.yazar }}</li>
    {% endfor %}
</ul>

<ul>
    {% for k in kayitlar|dictsort:"kullanici.yas" %}
        <li>{{ k.kullanici.adi|capfirst }} ({{ k.kullanici.yas }}) - {{ k.departman }}</li>
    {% endfor %}
</ul>

</body>
</html>